.item {
  padding: var(--mantine-spacing-xs) 0;
  /* border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4)); */

  /* &:last-child {
    border-bottom: none;
  } */
}

.change {
  font-weight: 500;
}
